body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    justify-content: space-between;
}

.header {
    background-color: #1f2937;
    padding: 0 100px 50px 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.box {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}

.one {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 300px;
}

.one img {
    max-width: 600px;
    max-height: 200px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 20px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 7px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.body1 {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flexbox {
    display: flex;
    width: 150px;
    height: 150px;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.flexbox img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 50px 200px;
}

.quote p {font-size: 18px;
   font-style: normal;
   color: black;
   align-self: center;
   margin-left: 350px;
}

.quote-text {
    width: 600px;
}

.footer {

}